Options -Indexes

RewriteEngine On

RewriteCond %{HTTP_HOST} ^www.(.+)$ [NC]
RewriteRule ^(.*)$ https://%1/$1 [R=301,L]

#RewriteCond %{QUERY_STRING} ^$
RewriteRule ^([^/]+)$ /cgi-bin/wiki.pl/$1 [QSA,L]
RewriteRule ^$ cgi-bin/wiki.pl [QSA,L,PT]
